[submodule ".vim/bundle/vim-multiple-cursors"]
	path = .vim/bundle/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors.git
[submodule ".vim/bundle/vim-airline"]
	path = .vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/clang_complete"]
	path = .vim/bundle/clang_complete
	url = https://github.com/Rip-Rip/clang_complete.git
[submodule ".vim/bundle/ultisnips"]
	path = .vim/bundle/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule ".zsh/git-prompt"]
	path = .zsh/git-prompt
	url = https://github.com/olivierverdier/zsh-git-prompt.git
[submodule ".vim/bundle/conque"]
	path = .vim/bundle/conque
	url = https://github.com/rasendubi/conque.git
[submodule ".vim/bundle/YouCompleteMe"]
	path = .vim/bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule ".vim/bundle/vim-snippets"]
	path = .vim/bundle/vim-snippets
	url = https://github.com/SirVer/vim-snippets
[submodule ".vim/bundle/vim-instant-markdown"]
	path = .vim/bundle/vim-instant-markdown
	url = https://github.com/suan/vim-instant-markdown.git
[submodule ".vim/bundle/ctrlp"]
	path = .vim/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule ".vim/bundle/vim-surround"]
	path = .vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule ".vim/bundle/plantuml-syntax"]
	path = .vim/bundle/plantuml-syntax
	url = https://github.com/aklt/plantuml-syntax.git
[submodule ".vim/bundle/neobundle.vim"]
	path = .vim/bundle/neobundle.vim
	url = https://github.com/Shougo/neobundle.vim
