/.vim/.netrwlist
/.zsh/cache
/.emacs.d/elpa
/.emacs.d/ensime
/.emacs.d/eshell
/.emacs.d/auto-save-list
/.emacs.d/ido.last
/.emacs.d/projectile*
/.emacs.d/recentf
/.vim/bundle
/.vim/.netrwhist
/.vim/.ycm_extra_conf.pyc
/.vim/haskellmode.config
/.emacs.d/.python-environments/
