/.config/fish/completions/fisher.fish
/.config/fish/conf.d/z.fish
/.config/fish/fish_history
/.config/fish/fish_variables
/.config/fish/fishd.ashmalko
/.config/fish/fishd.omicron
/.config/fish/functions/__z.fish
/.config/fish/functions/__z_add.fish
/.config/fish/functions/__z_complete.fish
/.config/fish/functions/__zo.fish
/.config/fish/functions/fisher.fish
/.config/fish/functions/getopts.fish
/.config/fish/functions/z.awk
/.config/fish/functions/zadd.awk
/.ssh/id_rsa
/.ssh/known_hosts
/.vim/.netrwhist
/.vim/.netrwlist
/.vim/.ycm_extra_conf.pyc
/.vim/bundle
/.vim/haskellmode.config
/.vim/spell/
/.zsh/cache
/README.el
/emacs.el
/README.nix
/README.js
/README.sh

# For .emacs.d, it's easier to list what needs to be tracked
/.emacs.d/*
!/.emacs.d/init.el
!/.emacs.d/early-init.el
!/.emacs.d/site-lisp/
!/.emacs.d/snippets/

/notmuch-tags
/private.el
