/.config/fish/completions/fisher.fish
/.config/fish/conf.d/z.fish
/.config/fish/fish_history
/.config/fish/fish_variables
/.config/fish/fishd.ashmalko
/.config/fish/fishd.omicron
/.config/fish/functions/__z.fish
/.config/fish/functions/__z_add.fish
/.config/fish/functions/__z_complete.fish
/.config/fish/functions/__zo.fish
/.config/fish/functions/fisher.fish
/.config/fish/functions/getopts.fish
/.config/fish/functions/z.awk
/.config/fish/functions/zadd.awk
/.emacs.d/.lsp-session-v1
/.emacs.d/.org-id-locations
/.emacs.d/.python-environments/
/.emacs.d/ac-comphist.dat
/.emacs.d/auto-save-list
/.emacs.d/backups/
/.emacs.d/bookmarks
/.emacs.d/custom.el
/.emacs.d/elpa
/.emacs.d/ensime
/.emacs.d/eshell
/.emacs.d/history
/.emacs.d/ido.last
/.emacs.d/nix-buffer/
/.emacs.d/private.el
/.emacs.d/projectile*
/.emacs.d/recentf
/.emacs.d/semanticdb/
/.emacs.d/smex-items
/.emacs.d/tramp
/.emacs.d/url/
/.emacs.d/var/pcache/cache
/.ssh/id_rsa
/.ssh/known_hosts
/.vim/.netrwhist
/.vim/.netrwlist
/.vim/.ycm_extra_conf.pyc
/.vim/bundle
/.vim/haskellmode.config
/.vim/spell/
/.zsh/cache
/emacs.el
/.emacs.d/elpy/
