[user]
	email = rasen.dubi@gmail.com
	name = Alexey Shmalko

[push]
	default = simple

[sendemail]
	smtpencryption = ssl
	smtpserver = smtp.gmail.com
	smtpuser = rasen.dubi@gmail.com
	smtpserverport = 465

[alias]
	cl = clone
	p  = push
	pl = pull -r
	f  = fetch
	fa = fetch --all
	a  = add
	d  = diff
	dl = diff HEAD~ HEAD
	ds = diff --staged
	l  = log
	c  = commit
	ca = commit --amend
	co = checkout
	cb = checkout -b
	d  = checkout --detach
	br = branch
	s  = status
	re = reset --hard
	dp = push origin HEAD:refs/drafts/master
	pp = push origin HEAD:refs/publish/master

[color]
	ui = true

[core]
	editor = vim
