[submodule ".zsh/git-prompt"]
	path = .zsh/git-prompt
	url = https://github.com/olivierverdier/zsh-git-prompt.git
[submodule ".vim/bundle/neobundle.vim"]
	path = .vim/bundle/neobundle.vim
	url = https://github.com/Shougo/neobundle.vim
[submodule "command-log-mode"]
	path = .emacs.d/site-lisp/command-log-mode
	url = https://github.com/rasendubi/command-log-mode.git
[submodule "channels/nixpkgs"]
	path = channels/nixpkgs
	url = https://github.com/NixOS/nixpkgs-channels
[submodule "channels/home-manager"]
	path = channels/home-manager
	url = https://github.com/rycee/home-manager
[submodule ".emacs.d/site-lisp/org-roam"]
	path = .emacs.d/site-lisp/org-roam
	url = https://github.com/jethrokuan/org-roam.git
[submodule "channels/nixos-hardware"]
	path = channels/nixos-hardware
	url = https://github.com/NixOS/nixos-hardware.git
[submodule ".emacs.d/site-lisp/company-org-roam"]
	path = .emacs.d/site-lisp/company-org-roam
	url = https://github.com/jethrokuan/company-org-roam
