[user]
	email = rasen.dubi@gmail.com
	name = Alexey Shmalko

[push]
	default = simple

[sendemail]
    smtpencryption = ssl
	smtpserver = smtp.gmail.com
	smtpuser = rasen.dubi@gmail.com
	smtpserverport = 465

[alias]
	a  = add
	d  = diff
	dl = diff HEAD~ HEAD
	ds = diff --staged
	ci = commit
	ca = commit --amend
	co = checkout
	br = branch
	st = status
	re = reset --hard
	dpush = push origin HEAD:refs/drafts/master
	ppush = push origin HEAD:refs/publish/master

[color]
	ui = true
[core]
	editor = vim
